* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 100vh;
      background-color: #404A65;
    }

    h1 {
      padding-top: 50px;
    }

    h2 {
      padding-top: 12px;
      padding-bottom: 20px;
    }

    img {
      padding-top: 36px;
      display: block;
      margin: auto;
    }

    button {
      width: 160px;
      height: 45px;
      font-size: 1.25rem;
      font-family: "Kanit", sans-serif;
      color: #ECEDF0;
      font-weight: 600;
      text-align: center;
      display: block;
      margin: auto;
      background-color: #1F6FB0;
      border: #1F6FB0;
      border-radius: 10px;
    }

    .title {
      font-size: 4rem;
      font-family: "Kanit", sans-serif;
      color: #ECEDF0;
      font-weight: 600;
      text-shadow: 5px 5px 5px #35383f;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #35383f;
      text-align: center;
    }

    .subtitle {
      font-size: 1.5rem;
      font-family: "Kanit", sans-serif;
      color: #ECEDF0;
      font-weight: 600;
      text-align: center;
    }

    .result {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    .author-info {
      font-size: 14px;
      text-align: center;
      margin-top: 16px;
      color: rgb(55, 65, 81);
    }

    .author-info a {
      text-decoration: none;
    }