:root {
  --primary-color: #ECEDF0;
  --secondary-color: #1F6FB0;
  --bg-color: #404A65;
  --text-shadow: 5px 5px 5px #35383f;
  --stroke-color: #35383f;
  --font-main: "Kanit", sans-serif;
  --author-color: rgb(55, 65, 81);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  font-family: var(--font-main);
  color: var(--primary-color);
  text-align: center;
}

h1 {
  padding-top: 50px;
}

h2 {
  padding-top: 12px;
  padding-bottom: 20px;
}

img {
  padding-top: 36px;
  display: block;
  margin: auto;
}

button {
  width: 160px;
  height: 45px;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  color: var(--primary-color);
  margin: auto;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  text-shadow: var(--text-shadow);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--stroke-color);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.result {
  padding: 30px 0 50px 0;
}

.author-info {
  font-size: 14px;
  margin-top: 16px;
  color: var(--author-color);
}

.author-info a {
  text-decoration: none;
}